.git
.gitignore
.github
.env
.env.*
!.env.example
node_modules
vendor
storage/*.key
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
storage/pail/*
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/testing/.gitignore
!storage/framework/views/.gitignore
!storage/logs/.gitignore
!storage/pail/.gitignore
**/.DS_Store
docker-compose*.yaml
deploy.sh
README.md
